

/*#header {
	margin-top: 70px;
	height: 50px;
}*/

#main{
	margin-left: auto;
	margin-right: auto;
	/*width: 70%;*/
}


div.timeline-event-icon {
	border: 1px solid #aaa;
	padding: 1px;
	background: white;
}
div.timeline-event-icon-default {
	border: none;
	padding: 0px;
}


#tl{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	padding: 0;
	margin: 0;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: black;
	top: 0px;
	left: 0px;
	opacity: 0.9;
}

#imageGallery, #media {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}

.ad-loader {
	display: none!important;
}

.hide {
	display: none;
}

#imageGallery .ad-thumb-list {

	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#video, #canvas {
	width: 640px;
	height: 480px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#snap {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	height: 57px;
}

.loading {
	position: absolute;
	left: 487px;
	top: 173px;
}

#fakePhotos, #female {
	display: block;
	margin-top: 124px;
	margin-left: 93px;
}

#fakePhotos div {
	display: inline;
}

#fakePhotos span {
	position: relative;
	top: 27px;
	left: -180;
	color: white;
	font-size: 26px;
}

#fakePhotos a, #female a {
	bottom: 10px;
	right: 0px;
	position: fixed;
	color: white;
}

a.action-add {
	right: 130px!important;
}

a.action-more {
    right: 20px!important;
}

#female img {
	width: 600px;
	margin-left: 234px;
	margin-top: -47px;
}

.camera {
	cursor: pointer;
	position: absolute;
	z-index: 99999;
	left: 0;
	top: 493;;
	width: 60px;
	height: 60px;	
}

/********************START OF HACK!!*****************************/
.ad-gallery .ad-thumbs li {
	float: none!important;
	display: inline!important;
}

.ad-gallery .ad-thumbs li a {
	display: inline!important;
}

.ad-gallery .ad-thumbs li a img {
	display: inline!important;
}
/********************END OF HACK!!*****************************/