
div.timeline-event-icon {
	border: 1px solid #aaa;
	padding: 1px;
	background: white;
}
div.timeline-event-icon-default {
	border: none;
	padding: 0px;
}


#tl{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	padding: 0;
	margin: 0;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: black;
	top: 0px;
	left: 0px;
	opacity: 0.9;
}

#imageGallery {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}

.ad-loader {
	display: none!important;
}

.hide {
	display: none;
}

#imageGallery .ad-thumb-list {

	margin-right: auto;
	margin-left: auto;
	text-align: center;
}


/********************START OF HACK!!*****************************/
.ad-gallery .ad-thumbs li {
	float: none!important;
	display: inline!important;
}

.ad-gallery .ad-thumbs li a {
	display: inline!important;
}

.ad-gallery .ad-thumbs li a img {
	display: inline!important;
}
/********************END OF HACK!!*****************************/